.banner{
  background-image: linear-gradient(-300deg, rgba(10,0,30,0) 80%,
    rgba(0,0,0,0) 50%),url(../../Images/pic3.jpg);
  color: white;
  padding: 100px, 50px;
  background-size:cover;
  background-position:center;
  height: 300px;

}
.banner h1{
  font-size: 50px;
}

.banner h2{
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8px;
  margin-bottom: 40px;


}
